<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>『诊所管理系统』后台管理</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script type="text/javascript" src="js/libs/modernizr.min.js"></script>
    <script src="https://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>

    <!--    &lt;!&ndash; 新 Bootstrap 核心 CSS 文件 &ndash;&gt;-->
    <!--    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->

    <!--    &lt;!&ndash; jQuery文件。务必在bootstrap.min.js 之前引入 &ndash;&gt;-->
    <!--    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->

    <!--    &lt;!&ndash; 最新的 Bootstrap 核心 JavaScript 文件 &ndash;&gt;-->
    <!--    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="/main" class="navbar-brand">后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="/adminmain">首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="/quit">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                    <ul class="sub-menu">
                        <li><a href="/adminorderAll"><i class="icon-font">&#xe008;</i>订单管理</a></li>
                        <li><a href="/adminprescription"><i class="icon-font">&#xe008;</i>处方单管理</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font">&#xe018;</i>系统管理</a>
                    <ul class="sub-menu">
                        <li><a href="/admindoctorAll"><i class="icon-font">&#xe017;</i>医生信息</a></li>
                        <li><a href="/admindrugAll"><i class="icon-font">&#xe037;</i>药品信息</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="result-wrap">
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <tr>
                        <th>药品编号</th>
                        <th>药品名称</th>
                        <th>药品规格</th>
                        <th>药品价格</th>
                        <th>药品库存</th>
                    </tr>
                    <tr th:each="drug : ${drugAll}">
                        <td th:text="${drug.id}"></td>
                        <td th:text="${drug.name}"></td>
                        <td th:text="${drug.specification}"></td>
                        <td th:text="${drug.price}"></td>
                        <td th:text="${drug.stock}"></td>
                    </tr>
                </table>
                <div class="list-page">  1/1 页</div>
            </div>
        </div>
    </div>
    <button id="adddrug" style="border-radius: 20%;color: #b2c2e0">添加药品</button>
    <!--/main-->
</div>
</body>
</html>
<script>
    $("#adddrug").click(function (){
        const drugText = [
            "请输入药品名称：",
            "请输入药品规格：",
            "请输入药品价格：",
            "请输入药品库存："
        ];
        let goods1 = prompt(drugText[0]);
        let goods2 = prompt(drugText[1]);
        let goods3 = prompt(drugText[2]);
        let goods4 = prompt(drugText[3]);
        let demo={};
        demo.goods1=goods1;
        demo.goods2=goods2;
        demo.goods3=goods3;
        demo.goods4=goods4;
        console.log(demo);
        $.ajax({
            url:"/admininsertdrug",
            type:"POST",
            dataType:"json",
            contentType:"application/json",
            data:JSON.stringify(demo),
            success:function (e){
                alert(e.message)
                window.location.href="/admindrugAll";
            },
            error:function (e){
                alert("添加失败！！！");
            },
        });


    });
</script>