<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
    <title>Login</title>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/loginMy.css"/>

    <style>
        html,body{width:100%;}
    </style>
</head>
<body>
<div class="main">

    <div class="center">
            <i class="fa fa-user Cone">  | </i>
            <input type="text" name="uer" id="username" placeholder="用户名" onblur="checkUser()"/>
            <span id="user_pass"></span>
            <br/>
            <i class="fa fa-key Cone">  | </i>
            <input type="password" name="pwd" id="password" placeholder="密码" onblur="checkUser1()"/>
            <span id="pwd_pass"></span>
            <br/>
            <input type="submit" value="登录" id="bu" name="submit" size="20">
            <input type="submit" value="注册" id="register" name="submit" size="20">
            <br/>
            <input type="submit" value="医生登录" size="20" onclick="window.location.href='/doctorloginview'">
            <input type="submit" value="管理员登录" size="20" onclick="window.location.href='/loginview'">
    </div>

</div>
<script type="text/javascript" src="js/loginMy.js"></script>
</body>
</html>
<script>
    $("#register").click(function (){
        window.location.href="/registerview"
    });

    $("#bu").click(function (){
        let username=document.getElementById("username").value;
        let passaword=document.getElementById("password").value;
        let user={};
        user.username=username;
        user.password=passaword;
        console.log(user);
        $.ajax({
            url:"/login",
            type:"POST",
            dataType:"text",
            contentType:"application/json",
            data:JSON.stringify(user),
            success:function (e){
                localStorage.setItem("token",e);
                let ex=new Date();
                ex.setTime(ex.getTime()+(24 * 60 * 60 * 1000));  // 设置过期时间为1天

                document.cookie = "token=" + e + "; expires=" + ex.toUTCString() + "; path=/";//存入cookie

                window.location.href="/main";

            },
            error: function (e){
                alert('账号密码错误');
            }
        })
    })

</script>

