<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>『诊所管理系统』</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script type="text/javascript" src="js/libs/modernizr.min.js"></script>
    <script src="https://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>

    <!--    &lt;!&ndash; 新 Bootstrap 核心 CSS 文件 &ndash;&gt;-->
    <!--    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->

    <!--    &lt;!&ndash; jQuery文件。务必在bootstrap.min.js 之前引入 &ndash;&gt;-->
    <!--    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->

    <!--    &lt;!&ndash; 最新的 Bootstrap 核心 JavaScript 文件 &ndash;&gt;-->
    <!--    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="/main" class="navbar-brand">诊所管理系统</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="/admindoctormain">首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="/quit">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                    <ul class="sub-menu">
                        <li><a href="/admintypeOrder"><i class="icon-font">&#xe008;</i>科室相关预约</a></li>
                        <li><a href="/admindoctorprescription"><i class="icon-font">&#xe008;</i>药方单</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="result-wrap">
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <tr>
                        <th>预约编号</th>
                        <th>病人姓名</th>
                        <th>病情简述</th>
                        <th>相关科室</th>
                        <th>处理医生</th>
                        <th>开药详情</th>
                        <th>药物规格</th>
                        <th>医生建议</th>
                    </tr>
                    <tr th:each="pre : ${typepre}">
                        <td th:text="${pre.oid.orderid}"></td>
                        <td th:text="${pre.oid.user.name}"></td>
                        <td th:text="${pre.oid.goods}"></td>
                        <td th:text="${pre.oid.type.type}"></td>
                        <td th:text="${pre.doctor.name}"></td>
                        <td th:text="${pre.drug.name}"></td>
                        <td th:text="${pre.drug.specification}"></td>
                        <td th:text="${pre.goods}"></td>

                    </tr>
                </table>
                <div class="list-page">  1/1 页</div>
            </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>